:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.pinned-section {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.scrollbar-wrapper{
    position: relative;
    bottom: -90vh;
    width: 80vw;
    height: 12px;
    border: 1px solid black;
    z-index: 100;
     margin:0 auto;
    display: none;
}

.scrollbar{
  width: 25%;
    height: 100%;
  background-color: red;
  cursor: grab;
}

@media (max-width: 990px) {
    .scrollbar-wrapper{
        display: block;
    }
}
